html, body { 
  background-color: #FFE4C4; 
  color: black; 
  font-family: sans-serif;
  margin: 0px; 
  padding: 0px; 
}

h1 { 
  background-color: #D0D0D0; 
  color: white; 
  text-transform: uppercase; 
  margin: 0px; 
  padding: 5px;
}
h2 { 
  
  margin: 10px;
  font-size: 140%;
  text-align: center; 
  text-transform: uppercase; 
}

div#menu { 
  background-color: #D0D0D0; 
  color: white; 
  margin: 0px; 
}

div#menu ul { 
  list-style-type: none; 
  margin: 0px 5px; 
  padding: 14px; 
}

div#menu li { 
  display: inline; 
  padding: 0px 15px;
}

div#menu a { 
  background-color: #D0D0D0; 
  color: black; 
 
  font-size: small;
}
div#contenido {
	width: 74%;
	margin-left: 16%;
	margin-top: 20px;
	font-size: 10pt;
	color: #111111;
}
/*
div#contenido { 
  padding: 10px; 
}
*/


tr.neg { 
  background-color: #F9DDAE; 
  color: black; 
}

td, th { 
  padding-left: 5px; 
  padding-right: 5px; 
}

div#pie {
  border-top: black solid 1px;
  clear: both;
  margin: 50px 20px 0px;
  padding: 5px 0px 0px;
}

input {
  font-family: monospace;
}

.aviso {
  color: red;
}

div#cabecera
{
  font-size: xx-large;
  margin-left: 40%;
  margin-bottom: 1%;
}

#tablaPedidos
{
  margin-left: 20%;
  margin-top: 2%;
  font-size: larger;
}

#tablaDatosUsuario
{
  font-size: small;
}

/* Esta parte de la hoja de estilo es específica de este proyecto */
